body{
  width: 100%;
  height: auto;

  background-color:  black;
}
.container{}
#background{
  position: relative;
  background-image:url('ipad-screen.jpg');
  background-repeat: no-repeat;;
  max-width: 940px;
  width:940px;
  height: 800px;
}
h1{
  color: white;
}
#appHolder{
  display: block;
  position:absolute;
  height: 300px;
  width:300px;
  background-color: white;
  top: 40%;
  left:60%;
  border: 5px solid black;
}
